---
---

@import "normalize";
@import "variables";

html {
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Avenir Next', sans-serif;
  background-color: #fff;
  font-weight: 500;
  font-size: $base-font-size;
  line-height: 1.625;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover { color: #CE0A26; }
}

body,
.navbar-nav .nav-link,
.navbar-nav .nav-link.active {
  color: $body-text-color;
}

h1, .h1 {
  font-size: $h1-font-size;
  font-weight: 600;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  line-height: 1.1;
  color: $dark-text-color;
}

h2, .h2 {
  font-size: $h2-font-size;
  margin-bottom: $h2-font-size;
  line-height: 1.2;
  letter-spacing: 0.1em;
}

h3 {
  font-size: $h3-font-size;
  font-weight: normal;
}

h4 {
  font-size: $h4-font-size;
  font-weight: 300;
  text-transform: uppercase;
}

h1 + p, h2 + p, h3 + p {
  margin-top: 30px;
}

//Grid
.container {
  margin: 0 auto;
  max-width: 1140px;
  height: 100vh;

  display: grid;
  justify-items: start;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: [nav-row] 90px [hero-row] auto [content-row] auto;
  grid-gap: 30px 30px;
  justify-content: center;
}

// navigation
.nav {
  grid-area: nav-row / 1 / nav-row / 13;
  justify-self: right;
  font-size: $base-font-size;
  letter-spacing: -0.45px;
  font-weight: 600;
}

.nav-links {
  ul { list-style-type: none }
  li {
    display: inline-block;
    padding-right: 80px;
    text-transform: uppercase;
  }
}

.navbar-nav .nav-link {
  line-height: 16px;
  transition: color 0.1s,background-color 0.1s,padding 0.3s ease-in;

  // transition line
  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: $body-text-color;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.3s ease-out;
  }

  &:hover::before, &:focus::before, &.active::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}

.nav-item .fab {
  display: inline-block;
  margin-left: 30px;
}
.navbar-brand {
  img { width: 200px }
}


//MAIN
.main-left {
  grid-row: hero-row / span 1;
  // height: 100%;
  height: 520px;
  padding-right: 30px;
}

.main-left.lg {
  grid-column: 1 / 9;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-right: $line;

  .h1 { max-width: 1000px }
  .description { max-width: 500px }

  & + .main-right { grid-column: 9 / 13 }
}

.main-left.sm {
  grid-column: 1 / 2;
  & + .main-right { grid-column: 2 / 13 }

  border-left: $line;
  position: relative;
  top: 180px;
  left: 50px;

  .h1 {
    transform-origin: center left;
    transform: rotate(90deg) translateY(4px) translateX(-250px);
  }
}

.main-right {
  padding-left: 50px;
  grid-row: hero-row / span 1;
}

.hero-uxd {

}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

// work
.work-title {
  font-size: 24px;
  font-weight: 600;
}

.work-subtitle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.07em;
  color: $gray-3;
}

// FOOTER
footer {
  .long-logo {
    width: 200px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .site-map {
    padding: 0;
  }

  .site-map li {
    text-align: center;
    list-style-type: none;

    &:not(:first-of-type) {
      margin: 15px 0px;
    }
  }
}
