<div class="h1">Work</div>

<div class="work-item full-grid">
  <a href="/work/aurora-redesign">
    <div class="work-image lg">
      <img src="/assets/redesign/newproject-640.gif">
    </div>
    <div class="work-item-desc">
      <div>
        <div class="work-title">Aurora Solar Redesign</div>
        <div class="work-subtitle">User Research, UX, and Visual Design for a new B2B web experience for the solar industry</div>
      </div>
      <div class="work-date">2019</div>
    </div>
  </a>
</div>

<div class="work-item">
  <a href="/work/aurora-redesign">
    <div class="work-image">
    </div>
    <div class="work-item-desc">
      <div>
        <div class="work-subtitle">Aurora Solar</div>
        <div class="work-title">SaaS Platform Redesign</div>
      </div>
      <div class="work-date">2019</div>
    </div>
  </a>
</div>

<div class="work-item">
  <a href="/work/aurora-redesign">
    <div class="work-image">
    </div>
    <div class="work-item-desc">
      <div>
        <div class="work-subtitle">Aurora Solar</div>
        <div class="work-title">SaaS Platform Redesign</div>
      </div>
      <div class="work-date">2019</div>
    </div>
  </a>
</div>
