<div class="h1">Work</div>

<div class="work-item full-grid">
  <a href="/work/aurora-redesign">
    <div class="work-image lg">
      <img src="/assets/redesign/newproject-640.gif">
    </div>
    <div class="work-item-desc">
      <div>
        <div class="work-title">Redesigning a sales flow for Aurora Solar</div>
        <div class="work-subtitle">User research, UX, and visual design for a new B2B web experience for the solar salespeople.</div>
      </div>
      <div class="work-date">Mar 2018 - Mar 2019</div>
    </div>
  </a>
</div>

<div class="work-item full-grid">
  <a href="/work/aurora-cad">
    <div class="work-image">
    </div>
    <div class="work-item-desc">
      <div>
        <div class="work-title">Redesigning an interactive 3D workspace for Aurora Solar</div>
        <div class="work-subtitle">User research, UX, and visual design an interactive CAD environment for the solar industry.</div>
      </div>
      <div class="work-date">Oct 2017 - Aug 2018</div>
    </div>
  </a>
</div>
