html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Avenir Next', sans-serif;
  background-color: #fff;
  font-weight: normal;
  font-size: $base-font-size;
  line-height: 1.625;

  @include md {
    font-size: $base-font-size * 1.28;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

p, ol {
  font-size: 1.5rem;

  &:first-child { margin-top: 0}
}

.normal {
  font-weight: normal;
}

body {
  color: $body-text-color;
}

h1, .h1 {
  font-size: $h1-font-size;
  font-weight: 600;
  letter-spacing: 0.015em;
  // text-transform: uppercase;
  line-height: 1.1;
  color: $dark-text-color;
  margin-bottom: 80px;
}

h2, .h2 {
  font-size: $h2-font-size;
  margin-bottom: $h2-font-size;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.2px;
}

h3 {
  margin-top: 0px;
  font-size: $h3-font-size;
  font-weight: 600;
}

h4 {
  font-size: 1em;
  font-weight: 600;
}

h5 {
  font-size: $h5-font-size;
  font-weight: normal;
  line-height: 1.5;
}

h1 + p, h2 + p, h3 + p, h4 + p {
  margin-top: 3rem;
}

hr {
  display: inline-block;
  border: $line;
}

//Grid
.container {
  margin: 0 auto;
  padding: 0 30px;
  display: grid;
  justify-items: start;
  justify-content: center;
  grid-gap: 30px 30px;
  grid-template-rows: [nav-row] 140px auto;
  grid-template-columns: 1fr;
  max-width: 1140px;

  @include md {
    grid-template-columns: 1fr 1fr;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grid-image {
  height: 100%;
  max-height: 480px;
  @include md { max-height: 640px }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

//MAIN
.full-grid {
  grid-column: 1 / -1;
  justify-self: stretch;
}

.main-index {
  @extend .full-grid;

  .h1 {
    margin-top: 80px;
    margin-bottom: 120px;
  }
}

// FOOTER
footer {
  padding: 100px 30px 50px 30px;
  text-align: right;
  max-width: 1140px;
  margin: auto;

  font-size: 0.8rem;
  color: $gray-4;

  .long-logo {
    width: 200px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .site-map {
    padding: 0;
  }

  .site-map li {
    text-align: center;
    list-style-type: none;

    &:not(:first-of-type) {
      margin: 15px 0px;
    }
  }
}
