html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Avenir Next', sans-serif;
  background-color: #fff;
  font-weight: 500;
  font-size: $base-font-size;
  line-height: 1.625;

  @include lg {
    font-size: $base-font-size * 1.28;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover { color: #CE0A26; }
}

p, ol {
  font-size: 1.5rem;
}

body,
.navbar-nav .nav-link,
.navbar-nav .nav-link.active {
  color: $body-text-color;
}

h1, .h1 {
  font-size: $h1-font-size;
  font-weight: 600;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  line-height: 1.1;
  color: $dark-text-color;
}

h2, .h2 {
  font-size: $h2-font-size;
  margin-bottom: $h2-font-size;
  line-height: 1.2;
  letter-spacing: 0.1em;
}

h3 {
  font-size: $h3-font-size;
  font-weight: normal;
}

h4 {
  font-size: $h4-font-size;
  font-weight: 300;
  text-transform: uppercase;
}

h1 + p, h2 + p, h3 + p {
  margin-top: 30px;
}

hr {
  display: inline-block;
  border: $line;
}

//Grid
.container {
  margin: 0 auto;
  padding: 0 30px;
  display: grid;
  justify-items: start;
  justify-content: center;
  grid-gap: 30px 30px;
  grid-template-rows: [nav-row] 90px auto;
  grid-template-columns: 1fr;
  max-width: 1140px;

  @include md {
    grid-template-columns: 1fr 1fr;
  }
}

//MAIN

.main-left {
  grid-column: span 1;
  @include lg { grid-column: 1 / 2 }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  // border-right: $line;

  .h1 { max-width: 1000px }
  .description { max-width: 500px }

  & + .main-right {
    grid-column: span 1;
    // @include lg {grid-column: 2 / -1 }
  }
}

.main-left.sm {
  .h1 {
    width: 40px; //Adjusts width because of rotation
    transform-origin: center left;
    transform: rotate(90deg) translateY(4px) translateX(-250px);
  }
}

.full-grid {
  grid-column: 1 / -1;
}

// work
.work-item {
  justify-self: stretch;
}

.work-image {
  height: 300px;
  width: 100%;
  background-color: #f2f2f2;
}

.work-title {
  font-size: 24px;
  font-weight: 600;
}

.work-subtitle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.07em;
  color: $gray-3;
}

.work-item-desc {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

// FOOTER
footer {
  .long-logo {
    width: 200px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .site-map {
    padding: 0;
  }

  .site-map li {
    text-align: center;
    list-style-type: none;

    &:not(:first-of-type) {
      margin: 15px 0px;
    }
  }
}
