// navigation
.nav {
  grid-row: nav-row;
  grid-column: 1 / -1; //spans whole row
  justify-self: stretch;
  z-index: 3; // Above other elements
  padding-bottom: 30px;

  position: sticky;
  top: 0px;

  // fonts
  font-size: $h4-font-size;
  font-weight: 600;

  //separate logo and nav
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @include md {
    align-self: end;
  }
}

// Drawing/animating hamburger icon
.nav-hamburger-icon {
  span {
    display: block;
    width: 28px;
    height: 2px;
    margin-bottom: 5px; //make height + margin = 7
    position: relative;
    top: 6px;

    background: $body-text-color;
    border-radius: 2px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  span:first-child { transform-origin: 0% 0% }
  span:nth-last-child(2) { transform-origin: 0% 100% }
}

.nav-hamburger-icon, .nav-hamburger {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 30px;
  right: 0px;
}

// checkbox control for hamburger
#mainNavbar {
  input.nav-hamburger {
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  //Transform hamburger into cross
  input.nav-hamburger:checked ~ .nav-hamburger-icon span {
    opacity: 1;
    transform: rotate(45deg) translate(1px, -4px);
    background: $dark-text-color;

    // Hide the middle one
    &:nth-last-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    //Reverse the last one
    &:nth-last-child(1) {
      transform: rotate(-45deg) translate(0, 0);
    }
  }
}

.nav-brand {
  position: relative;
  top: 35px;
  @include md { top: 0 }

  a { color: $dark-text-color }
}

// Show the menu if checked
.nav-hamburger:checked ~ .navbar-nav {
  transform: translate(0, 0) scaleY(1);
  opacity: 1;
  pointer-events: all;
}

.nav-hamburger, .nav-hamburger-icon {
  @include md { display: none }
}

.navbar-nav {
  margin: 0;
  padding: 80px 40px 30px 50px;
  background: #ffffff;
  border-bottom: 1px solid #efefef;
  list-style-type: none;

  // Hide the menu in mobile view
  position: absolute;
  left: -30px; //Negating container margin
  right: -30px;
  top: 0;
  opacity: 1;
  transform-origin: 0% 0%;
  transform: translate(0, -100%) scaleY(0.5);
  transition: transform 0.5s ease, opacity 0.5s ease, max-height 0.5s ease-out;

  li {
    text-align: right;
    line-height: 50px;
  }

  @include md {
    position: relative;
    padding: 0;
    border: none;
    transform: none;
    background: transparent;
    left: 0;
    right: 0;

    li { display: inline-block }
    li:not(:last-child) { padding-right: 30px }
  }
}

.navbar-nav .nav-link,
.navbar-nav .nav-link.active {
  color: $body-text-color;
  font-weight: 500;
}

// social icons
.nav-item .fab {
}
