// navigation
.nav {
  font-size: $base-font-size;
  letter-spacing: 0.03em;
  font-weight: 600;
  grid-row: nav-row;
  grid-column: 1 / -1; //spans whole row
  justify-self: right;
  z-index: 3; // Above other elements
}

// Drawing/animating hamburger icon
.nav-hamburger-icon {
  span {
    display: block;
    width: 28px;
    height: 2px;
    margin-bottom: 5px; //make height + margin = 7
    position: relative;
    top: 6px;

    background: $body-text-color;
    border-radius: 2px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  span:first-child { transform-origin: 0% 0% }
  span:nth-last-child(2) { transform-origin: 0% 100% }
}

.nav-hamburger-icon, .nav-hamburger {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 30px;
  right: 30px;
}

// checkbox control for hamburger
#mainNavbar {
  input.nav-hamburger {
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  //Transform hamburger into cross
  input.nav-hamburger:checked ~ .nav-hamburger-icon span {
    opacity: 1;
    transform: rotate(45deg) translate(1px, -4px);
    background: $dark-text-color;

    // Hide the middle one
    &:nth-last-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    //Reverse the last one
    &:nth-last-child(1) {
      transform: rotate(-45deg) translate(0, 0);
    }
  }
}

// Show the menu if checked
.nav-hamburger:checked ~ .navbar-nav {
  transform: translate(0, 0) scaleY(1);
  opacity: 1;
  pointer-events: all;
}

.navbar-nav {
  margin: 0;
  padding: 0 40px;
  background: #eeeeee;
  list-style-type: none;

  // Hide the menu in mobile view
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 70px;
  opacity: 1;
  transform-origin: 0% 0%;
  transform: translate(0, -100%) scaleY(0.5);
  transition: transform 0.5s ease, opacity 0.5s ease, max-height 0.5s ease-out;

  li {
    text-transform: uppercase;
    text-align: right;
    line-height: 50px;
  }

  @include lg {
    position: relative;
    padding: 0;
    transform: none;

    li { display: inline-block }
    li:not(:last-child) { padding-right: 30px }
  }
}


/* Navbar underlines
// .navbar-nav .nav-link {
//   line-height: 16px;
//   transition: color 0.1s,background-color 0.1s,padding 0.3s ease-in;
//
//   // transition line
//   &::before {
//     content: '';
//     display: block;
//     position: absolute;
//     bottom: 3px;
//     left: 0;
//     height: 3px;
//     width: 100%;
//     background-color: $body-text-color;
//     transform-origin: right top;
//     transform: scale(0, 1);
//     transition: color 0.1s,transform 0.3s ease-out;
//   }
//
//   &:hover::before, &:focus::before, &.active::before {
//     transform-origin: left top;
//     transform: scale(1, 1);
//   }
// }
*/

// social icons
.nav-item .fab {
}

.navbar-brand {
  img { width: 200px }
}
