// work list
.work-item {
  justify-self: stretch;

  // &:nth-last-child(2) { margin-top: -30px }
  &:nth-last-child(1) { margin-top: 100px }
}

.work-title {
  font-size: 18px;
  font-weight: 600;
}

.work-subtitle, .work-date {
  // text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: $gray-4;
}

.work-item-desc {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}


// Work subpage
.project-supertitle {
  margin-top: 10rem;
  @extend h3;
  // text-transform: uppercase;
}

.project-subtitle {
  color: $gray-3;
  font-size: 1rem;
  width: 100%;
}

.work-image {
  height: 300px;
  width: 100%;
  background-color: #f2f2f2;
  object-fit: cover;
}

.pd {
  @include md {
    grid-column: 2 / span 1;
  }

  h4:not(:first-child) {
    margin-top: 6rem;
  }
}

.full-image {
  grid-column: 1 / -1;
  object-fit: cover;

  img { max-width: 100%; }
}
