<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{page.title}}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/95ef6df817.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>

    <!-- Navigation bar -->
    <div class="container">
      <nav role="navigation" class="nav">
        <div class="nav-brand">
          <a href="/">Wending Lu</a>
        </div>

        <div class="nav-links" id="mainNavbar">
          <!-- Checkbox to tell if it's clicked -->
          <input class="nav-hamburger" type="checkbox" />
          <!--
          Some spans to act as a hamburger.
          -->
          <div class="nav-hamburger-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link {% if page.active == 'about' %}active{% endif %}" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if page.active == 'work' %}active{% endif %}" href="/work">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if page.active == 'work' %}active{% endif %}" href="/resume">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/wending-lu/">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/thewending">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="contact" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      {{ content }}

    </div>

  </body>
  {% include footer.html %}

</html>
